services:
	- Nette\Caching\Storages\DevNullStorage
	db.alerts: \DB\AlertRepository
storm:
	default:
		host: localhost
		dbname: _test_storm
		user: root
		password: ""
		driver: mysql
		customAnnotations:
			testClass: class
			testProperty: property